<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
           <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Ajouter une nouvelle voiture</h5>
          <form class="form_group" [formGroup]="form" (ngSubmit)="addCar()">
            <div class="form-label-group">
              <label for="brand"></label>
              <input type="text" class="form-control" placeholder="marque" id="brand" formControlName="brand">
            </div>
            <div class="form-label-group">
              <label for="model"></label>
              <input type="text" class="form-control" placeholder="modèle" id="model" formControlName="model">
            </div>
            <div class="form-label-group">
              <label for="type"></label>
              <input type="text" class="form-control" placeholder="type" id="type" formControlName="type">
            </div>
            <div class="form-label-group">
              <label for="price"></label>
              <input type="text" class="form-control" placeholder="prix" id="price" formControlName="price">
            </div>
            <div class="form-label-group">
              <label for="kmStart"></label>
              <input type="text" class="form-control" placeholder="kilométrage" id="kmStart" formControlName="kmStart">
            </div>
            <div class="form-label-group">
              <label for="imageUrl"></label>
              <input type="text" class="form-control" placeholder="imageUrl" id="imageUrl" formControlName="imageUrl">
            </div>
            <br>
            <br>
            
            <br>
            <br>
            <br>
            <br>
            <label>
              <input type="submit" class="btn btn-lg btn-success btn-block text-uppercase" value="Ajouter !"
                [disabled]="form.invalid">
            </label>
          </form>
          <br>
          <button class="btn btn-lg btn-danger btn-block text-uppercase"
          (click)="previousPage()">retour</button>
        </div>
      </div>
    </div>
  </div>
</div>